/* 
Color palette:
red -> rgb(255, 107, 107) 
blue -> rgb(107, 208, 255) 
yellow -> rgb(255, 210, 64) 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255); 
}

.header .navbar{
    width: 100%; 
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header .navbar .logo a{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 50px;
}

.header .navbar .menu ul{
    margin-left: 280px;
}

.header .navbar .menu ul li{
    display: inline-block;
    margin-right: 35px;
    align-items: center;
}

.header .navbar .menu ul li a{
    color: rgb(0, 0, 0);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
}

.header .navbar .menu ul li a:hover{
    color:rgb(255, 210, 64);
}

.header .contact-info {
    margin-left: 20px;
}

.header .contact-info ul{
    margin-left: 100px;
}

.header .contact-info ul li{
    display: inline-block;
}

.header .contact-info ul li a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    transition: all 0.3s;
}

.header .contact-info ul li a:hover{
    color:rgb(255, 107, 107);

}
header .contact-info ul li a:sep{
    margin: 0 28px;
    opacity: 0.3;
}
 
.header .banner {
    position: absolute;
    top: 35%;
    left: 0;
    color: rgb(0, 0, 0);
}


.header .banner .app-text h1 {
    font-size: 80px; 
    padding-left: 300px;
    position: relative;
    margin-top: 30px;
    font-weight: 700;
   line-height: 1.2;
}

#profile {
    position: relative;
    top: -250px;
    left: 500px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-color: black;
    border-style: solid;
    border-width: thick;
}

.header .banner .app-text h1 span{
    color:rgb(107, 208, 255);
}
.header .banner .app-text h1:hover{
  animation: shake 0.8s;
}

@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }
